@model NotebookValidator.Web.Data.ApplicationUser
@{ ViewData["Title"] = "Editar Cuota"; }

<h1>@ViewData["Title"]</h1>
<h4>Usuario: @Model.Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditQuota">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnalysisQuota" class="control-label">Cuota de Análisis</label>
                <input asp-for="AnalysisQuota" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>