@{
    ViewData["Title"] = "Contraseña Reiniciada con Éxito";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="alert alert-success">
    <p>La contraseña para el usuario <strong>@ViewBag.UserName</strong> ha sido reiniciada.</p>
    <p>Por favor, entrega la siguiente contraseña temporal al usuario:</p>
    <h4 class="text-center"><code>@ViewBag.TemporaryPassword</code></h4>
</div>
<a asp-action="Index" class="btn btn-primary">Volver a la lista de usuarios</a>