# Secretos locales
appsettings.Development.json
secrets.json

# User Secrets
**/obj/**
**/bin/**

# Otros
.vs/
*.user
*.suo
node_modules/

# SQLite / archivos de base de datos locales
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.db-journal

# Archivos de base de datos de SQL Server locales / backups
*.mdf
*.ldf
*.bak
/credentials.json
/token.json
